.aGraphicPrintOversized {
  border: 0;
  font-family: var(--text3);
  font-size: var(--heading-3-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 118%;
  color: var(--sorta-dark);
  text-align: left;
  display: flex;
  align-items: center;
  height: 42px;
}
.editingSvg {
  position: relative;
  width: 28px;
  height: 28px;
}
.containericon,
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containericon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-silver-300);
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  justify-content: center;
}
.containericon:hover {
  background-color: var(--color-darkorange-200);
}
.input {
  flex: 1;
  border-radius: var(--br-38xl) 0 0 var(--br-38xl);
  background-color: var(--pure-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--light-dark);
  box-sizing: border-box;
  height: 46px;
  justify-content: flex-end;
  padding: var(--padding-8xs) var(--padding-lgi);
  gap: var(--gap-3xs);
}
.editingSvg1 {
  position: relative;
  width: 31px;
  height: 28px;
  justify-content: center;
}
.heading3 {
  
  position: relative;
  font-size: var(--heading-3-size);
  line-height: 118%;
  font-family: var(--text3);
  color: var(--pure-white);
  text-align: center;
  justify-content: center;
}
.buttongenerate,
.containericontext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containericontext {
  width: 128px;
  gap: var(--gap-smi);
}
.buttongenerate {
  cursor: pointer;
  border: 1px solid var(--light-dark);
  padding: var(--padding-3xs) var(--padding-5xl);
  background-color: var(--orange);
  border-radius: 0 var(--br-38xl) var(--br-38xl) 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 46px;
}
.buttongenerate:active {
  border: 2px solid var(--orange);
  box-sizing: border-box;
}
.aGraphicPrintOversized1,
.input1,
.maininput {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.maininput {
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.aGraphicPrintOversized1,
.input1 {
  flex: 1;
}
.aGraphicPrintOversized1 {
  border: 0;
  font-family: var(--text3);
  font-size: var(--heading-3-size);
  background-color: transparent;
  position: relative;
  line-height: 118%;
  color: var(--sorta-dark);
  text-align: left;
}
.input1 {
  flex-direction: row;
  justify-content: center;
}
.sliderhorizontal3Icon {
  position: absolute;
  top: calc(50% - 9.95px);
  left: calc(50% - 12px);
  width: 23.6px;
  height: 20px;
}
.editingSvg2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-6xs);
  height: auto;
}
.editingSvg2:active {
  box-shadow: 0 4px 4px rgba(201, 201, 201, 0.5);
}
.buttonfilters,
.buttonfiltersParent {
  align-self: stretch;
  flex: .25;
  display: inline-flex;
  flex-direction: row;
}
.buttonfilters {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: var(--color-darkorange-200);
  border-radius: var(--br-3xs);
  align-items: center;
  justify-content: center;
}
.buttonfilters:active,
.buttonfilters:hover {
  background-color: var(--color-darkorange-100);
}
.buttonfilters:active {
  border: 2px solid var(--color-darkorange-100);
  box-sizing: border-box;
}
.buttonfiltersParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.heading31 {
  position: relative;
  font-size: var(--heading-3-size);
  line-height: 118%;
  font-family: var(--text3);
  color: var(--pure-white);
  text-align: center;
}
.buttongenerate1,
.buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  justify-content: center;
}
.buttongenerate1 {
  cursor: pointer;
  border: 0;
  background-color: var(--orange);
  flex: 1;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.buttongenerate1:active {
  border: 2px solid var(--orange);
  box-sizing: border-box;
}
.buttons {
  height: 58px;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.containerprompt,
.mobileinput {
  align-self: stretch;
  flex-direction: column;
}
.mobileinput {
  border-radius: var(--br-xs);
  background-color: var(--pure-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--light-dark);
  box-sizing: border-box;
  height: 106px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs);
  gap: var(--gap-11xs);
}
.containerprompt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
@media screen and (max-width: 760px) {
  .maininput {
    display: none;
  }
  .mobileinput {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .heading3,
  .maininput {
    display: none;
  }
  .maininput:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(242, 135, 5, 0.8);
  }
  .buttonfilters:active,
  .buttonfilters:hover {
    background-color: var(--color-darkorange-100);
  }
  .heading31,
  .mobileinput {
    display: flex;
  }
}
@media screen and (min-width: 2300px) {
  .heading3,
  .heading31,
  .maininput,
  .mobileinput {
    display: none;
  }
}
